<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>KilnWatchPublicAPIURL</key><string>$(KILNWATCH_PUBLIC_API_URL)</string>
    <key>KilnWatchDistrict</key><string>$(KILNWATCH_DISTRICT)</string>
</dict></plist>
